<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../newWorkspace.js"></script>
</head>
<body>

    <h1>
        Taskify - New Workspace
    </h1>

    <input type="text" id="workspaceUUID">
    
    <button onclick="createWorkspace()">
        Crete workspace
    </button>

    <div id="error"></div>
    
</body>
</html>