<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>
    <link rel="stylesheet" href="https://use.typekit.net/kcz4yyu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../newWorkspace.js"></script>
</head>
<body>

    <div class="c main-container">
        <div class="wrapper">
            <h3>🍭</h3>
            <h3>The workspace you are looking for does not exist ):</h3>
            <a href="/">Go back</a>
        </div>
    </div> 
    
</body>
</html>