<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.typekit.net/kcz4yyu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="workspace.js"></script>
</head>
<body>

    <div class="c mt media-no-c">
        <span class="h-200 col-cute">current workspace </span>
        <span class="h-200" id="workspaceUUID"></span>
        <h6 class="line font-medium mt-medium">If you have finished a task, click on it.</h6>
    </div>
    <div class="container"> 
        <h1>🔴 Todo</h1>
        <div id="tasks" class="task-container">
            <div class="task green-col-bg button-action hover-green">
                <button class="button-full-wh green-col-bg" onclick="newTask()">
                    + add new task
                </button>
            </div>
        </div>
        <h1 class="section-start">🟢 Done</h1>
        <div id="doneTasks" class="task-container"></div>
    </div> 
    
</body>
</html>