/*
    background-image: url('assets/background-img.png');
    background-size: 100%;
    background-color: rgb(130, 180, 218);
    background-repeat: no-repeat;
    */

html, body{
    height: 100%;
    width: 100;
    margin: 0;  
    font-size: 120%;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.main-container {
    width: 50%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: column;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 5px;
}

.line {
    font-family: lato, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.m-bottom {
    margin-bottom: 6%;
}

input {
    width: 80%;
    padding: 2%;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
}

.main-container > *{
    margin: auto 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

a {
    color: rgba(0, 89, 255, 0.5);
    font-weight: bold;
}

.c {
    text-align: center;
}

button {
    border: 0;
    border-radius: 3px;
    background-color: rgba(0, 89, 255, 0.5);
    color: #FFF;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.button-full {
    width: 80%;
    padding: 2%;
}

.img-basic {
    width: 30%;
    margin-top: 10%;
}

#error {
    color: red;
    font-family: lato, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.h-200 {
    font-size: 200%;
}

.col-cute {
    color: rgba(0, 89, 255, 0.5);
}

.task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task {
    flex: 1 1 200px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 2%;
    margin: 2%;
}

.task:hover {
    background-color: #f1f1f1;
}

.container {
    margin: 5%;
}

.section-start {
    margin-top: 10%;
}

.mid {
    margin: 0 auto;
}

.inline {
    display: inline;
}

.green-col-bg {
    background-color: green;
    color: white;
}

.mt {
    padding: 5%;
}

.button-action {
    font-size: 100%;
    float: right;
}

.button-full-wh {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

.no-padding {
    padding: 0px;
}

.hover-green:hover {
    background-color: green;
}

.font-medium {
    font-size: 100%;;
}

.mt-medium {
    margin-top: 5%;
}

@media (max-width: 800px) {
    body {
        font-size: 90%;
    }
    .main-container {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .media-no-c {
        text-align: left;
        font-size: 80%;
    }
    .media-text-align-left {
        text-align: left;
        font-size: 120%;
    }
}